*
  margin 0
  padding 0
  box-sizing border-box

body
  font-size 14px
  font-family Helvetica, Arial, sans-serif

.message-list
  list-style-type none
  margin 0
  margin-bottom 90px
  padding 0
  li
    padding 10px 15px
    &:nth-child(odd)
      background #EEE
    span
      color #AAA

.action-bar
  display flex
  justify-content space-between
  position fixed
  bottom 0
  left 0
  width 100%
  padding 10px
  background-color #6B5C74

.user-select-label
  position relative
  width 30%
  border-right 1px solid transparent
  &:after
    content ''
    position absolute
    top 50%
    right 10px
    transform translateY(-50%)
    width 0
    height 0
    border-top 6px solid black
    border-right 4px solid transparent
    border-bottom 0 solid transparent
    border-left 4px solid transparent
    pointer-events none

.user-select
  width 100%
  padding 10px
  padding-right 20px
  -webkit-appearance none
  -moz-appearance none
  appearance none
  border-radius 0
  background-color #EEE
  border none
  outline none
  font-size 14px
  cursor pointer
  transition all .25s ease
  &:hover
    background-color #ccc

.message-input
  width 45%
  padding 10px
  margin-right .5%
  border 0
  outline none
  font-size 14px

.send-btn
  width 25%
  padding 10px
  background-color #74CADA
  border none
  font-size 14px
  cursor pointer
  transition all .25s ease
  &:hover
    background-color #3FB5CB

@media screen and (min-width: 600px)
  .user-select-label
    width 20%
  .message-input
    width 65%
  .send-btn
    width 15%

@media screen and (min-width: 769px)
  .user-select-label
    width 15%
  .message-input
    width 75%
  .send-btn
    width 10%